
body{
    width: 100%;
    height: 100vh;    
    background: #e0d7d77a;


}
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
.bg-light {
    background-color: #007bff!important;
    border-bottom: 1px solid #ffffff40;
    box-shadow: 0px 0px 10px 0px;
}
.nav{
    background-color: #FFEBAD;
}

.navLink{
    color: black;
}


.form {
    width: 37%;
    flex-wrap: wrap;
    flex-flow: column;
    border: 1px solid;
    border-radius: 20px;
    padding: 41px;
    box-shadow: 1px 1px 16px 0px;
}

.card{
    margin-top: 4%;
    box-shadow: 0px 0px 11px 0px;

}
.row.items{
    align-items: center;
    justify-content: space-between;
}

.booksContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.crdimg {
    height: 42vh;
}
.input{
    width:100%; 
}

.form-row {
    width: 100%;
}



.menu{
position: relative;
}


.sub {
    display: none;
    position: absolute;
    top:35px;
    left: -30px;
    width:170px;
    background:rgb(236, 232, 232);
    height:100px;


}

 ul li:hover .sub {
    display: block;
}

 ul li:hover .sub ul {
    display: block;
    list-style: none;
}
.sub ul li{
margin-top:10px;
}
 a{
    text-decoration:none ;
    color:inherit;
 }
 a:hover{
    text-decoration:none ;
    color:inherit;
 }

 .row{
    align-items: center;
    justify-content: space-evenly;
}
 .container .main{
    width: 100%;
    height: 100vh;
 }


 .container.mainBox {
    display: flex;
    margin-top: 28px;
    width: 57%;
    border: 1px solid #0000002e;
    border-radius: 18px;
    box-shadow: 0px 2px 13px 3px;
    padding: 23px;
}
.bookImg {
    width: 43%;
}

.bookImg img {
    width: 90%;
}

.bookDetails{
    width: 51%;

}
.bookDetails h3{
    
        margin-top: 16%;
        margin-left:10%;
    color: #007bff;

    
}


.btn-outline-success {
    color: white;
    border-color: white;
}
.card-title {
    font-family: 'Creepster', cursive;
    font-size: 27px;
    color: #c35609;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background: #e9e8e8;
}

button.btn.btn-outline-success.my-2.my-sm-0:hover {
    background: black;
}           